<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
    crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Farhan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Calendar</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Events
                </a>
                <ul class="dropdown-menu">

                    <li>
                        <a class="dropdown-item" href="{% url 'event_list' %}">Events</a>
                    </li>


                    <li>
                        <a class="dropdown-item" href="{% url 'add-event' %}">Add Event</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Venues
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="{% url 'list-venues' %}">Venues</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="{% url 'add-venue' %}">Add Venue</a>
                    </li>

                </ul>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Download
                </a>
                <ul class="dropdown-menu">


                    <li>
                        <a class="dropdown-item" href="{% url 'venue-text' %}">Venues Text File</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="{% url 'venue-csv' %}">Venues CSV File</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="{% url 'venue-pdf' %}">Venues PDF File</a>
                    </li>
                </ul>
            </li>

            {% if user.is_authenticated %}



            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout_user' %}">Logout</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'chat' %}">Chat</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register_user' %}">Register</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'login_user' %}">Login</a>
            </li>
            {% endif %}



        </ul>
        <form class="form-inline my-2 my-lg-0" method=POST action="{% url 'searching' %}">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="box">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>