<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Farhan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'event_list' %}">Events</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="{% url 'add-event' %}">Add Event</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'list-venues' %}">Venues</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'add-venue' %}">Add Venue</a>
            </li>

             <li class="nav-item">
                <a class="nav-link" href="{% url 'venue-text' %}">Venues Text File</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'venue-csv' %}">Venues CSV File</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'venue-pdf' %}">Venues PDF File</a>
            </li>

            
            
            
        </ul>
        <form class="form-inline my-2 my-lg-0" method=POST action="{% url 'searching' %}">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="box">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>